
.intro {
    min-height: autopx;
    background-color: #00b3ff86;
    border-top: 3px solid #00b3ff;
    border-bottom: 3px solid #00b3ff;
}
.intro p {
    margin: 0;
    color: #000;
    padding: 25px;
    font-weight: bold;
}
.code {
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: #00b3ff86;
    border-left: 5px solid #00b3ff;
    color: #000;
    font-weight: bold;
}
code {
    font-size: 16px;
    line-height: 32px;
}
.description p {
    font-size: 18px;
    line-height: 36px;
}
p span {
    color: #00b3ff;
    font-weight: bold;
}
li {
    margin: 15px 0px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 25px;
}
th {
    background-color: #00b3ff;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
footer {
    text-align: center;
}
footer span {
    font-size: 50px;
    margin-right: 25px;
}
footer span a {
    text-decoration: none;
    color: inherit;
}
#insta {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
#fb:hover {
    color: #4267b2;
    transition: 0.5s ease-in-out;
}
#insta:hover {
    color: #fff;
    background: linear-gradient(
        -120deg,
        #405de6,
        #5851db,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d,
        #f56040,
        #f77737,
        #fcaf45,
        #ffdc80
    );
    transition: 0.25s ease-in-out;
}
#telegram {
    display: none;
}
#telegram:hover {
    color: #0088cc;
    transition: 0.5s ease-in-out;
}
@media screen and (max-width: 768px) {
    .description p {
        font-size: 15px;
        line-height: 30px;
    }
    code {
        font-size: 14px;
    }
    .btn a {
        width: 125px;
        height: 30px;
        font-size: 15px;
        padding: 4px;
    }
    footer span {
        font-size: 25px;
    }
    #insta {
        height: 26px;
        width: 28px;
        border-radius: 10px;
    }
}
@media screen and (max-width: 375px) {
    th,
    td {
        padding: 10px;
    }
}
@media screen and (max-width: 320px) {
    th,
    td {
        padding: 5px;
    }
    .opps {
        width: 300px;
    }
}
