@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    height: 100vh;
}
.navigation {
    position: fixed;
    width: 60px;
    height: 100%;
    background-color: #00b3ff;
    transition: 0.5s;
    overflow: hidden;
    z-index: 7;
}
.navigation:hover,
.navigation.active {
    width: 300px;
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover {
    background-color: #ea1d63;
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon .fa {
    font-size: 24px;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #330748;
    cursor: pointer;
    display: none;
    z-index: 8;
}
.toggle.active {
    background-color: #ea1d63;
}
.toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}
.toggle.active:before {
    content: "\f00d";
}
.s1 {
    margin: 0;
    padding-left: 60px;
}
.s1 iframe {
    margin: 0;
    padding: 0;
    height: 99vh;
    width: 100%;
    overflow: hidden;
    border: none;
    outline: none;
}
.s1#s1.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
.modal {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 9;
}
.modal h1 {
    margin: 10px 0;
    color: #00b3ff;
}
.modal .yes {
    margin: 15px;
    width: 75px;
    padding: 5px;
    font-size: 20px;
    color: #1eff09;
    background-color: #fff;
    border: 2px solid #1eff09;
    border-radius: 20px;
    outline: none;
}
.modal .yes:hover {
    background-color: #1eff09;
    color: #fff;
    transition: 0.5s ease-in-out;
}
.modal .no {
    margin: 15px;
    width: 75px;
    padding: 5px;
    font-size: 20px;
    color: #f44336;
    background-color: #fff;
    border: 2px solid #f44336;
    border-radius: 20px;
    outline: none;
}
.modal .no:hover {
    background-color: #f44336;
    color: #fff;
    transition: 0.5s ease-in-out;
}
#send {
    width: 250px;
}
#close {
    display: none;
}
#email-verified {
    display: none;
}
.modal .normal {
    margin: 15px;
    width: 100px;
    padding: 5px;
    font-size: 20px;
    color: #00b3ff;
    background-color: #fff;
    border: 2px solid #00b3ff;
    border-radius: 20px;
    outline: none;
}
.modal .normal:hover {
    background-color: #00b3ff;
    color: #fff;
    transition: 0.5s ease-in-out;
}
.modal.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#resend {
    display: none;
}
#footer {
    padding-left: 60px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    bottom: 0;
}
.user-information {
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}
.user-information i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}
.user-information h2 {
    display: inline;
    background: none;
    outline: none;
    border: none;
    padding: 20px 0;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}
.fa-pencil-alt {
    display: inline;
}
#user-photo {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
}
.modal input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.modal input::placeholder {
    color: #aaa;
    font-weight: 500;
}
@media (max-width: 767px) {
    .navigation {
        left: -60px;
    }
    .navigation.active {
        left: 0px;
        width: 100%;
    }
    .toggle {
        display: block;
    }
    .s1 {
        margin: 0;
        padding-left: 0px;
    }
    .modal {
        width: 500px;
    }
}
@media (max-width: 490px) {
    .modal {
        width: 450px;
    }
    .user-information h2 {
        font-size: 0.9rem;
    }
}
@media (max-width: 450px) {
    .modal {
        width: 425px;
    }
    .user-information h2 {
        font-size: 0.9rem;
    }
}
@media (max-width: 375px) {
    .modal {
        width: 350px;
        padding: 15px;
    }
    .user-information h2 {
        font-size: 0.9rem;
    }
}
@media (max-width: 320px) {
    .modal {
        width: 300px;
        padding: 15px;
    }
    .user-information h2 {
        font-size: 0.75rem;
    }
}